[Unit]
Description=Kafka JDBC Connector sensing movielens database
After=network.target devops-confluent-schema-registry.service

[Service]
User=root
ExecStart=/opt/kafka-JDBC-connector/run.sh

[Install]
WantedBy=default.target
